<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="ISO-8859-1">
    <title>Edit Employe</title>
</head>
<body style="height:100vh; display: flex;">
	<header th:replace="fragments/header :: sidebar"></header>
<div class="container">
    <h5>Modifier un employé</h5>
    <form th:action="@{/employes/view/updateEmploye}" th:object="${employe}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nom">Nom :</label>
                <input type="text" class="form-control" id="nom" th:field="*{nom}" required>
            </div>
            <div class="form-group col-md-6">
                <label for="numeroIdentifiant">Numéro Identifiant :</label>
                <input type="text" class="form-control" id="numeroIdentifiant" th:field="*{numeroidentifiant}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="adresse">Adresse :</label>
                <input type="text" class="form-control" id="adresse" th:field="*{adresse}" required>
            </div>
            <div class="form-group col-md-6">
                <label for="dateNaissance">Date de naissance :</label>
                <input type="date" class="form-control" id="dateNaissance" th:field="*{datenaissance}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Adresse e-mail :</label>
                <input type="email" class="form-control" id="email" th:field="*{email}" required>
            </div>
            <div class="form-group col-md-6">
                <label for="telephone">Numéro de téléphone :</label>
                <input type="tel" class="form-control" id="telephone" th:field="*{telephone}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="occupation">Occupation :</label>
                <input type="text" class="form-control" id="occupation" th:field="*{occupation}" required>
            </div>
            <div class="form-group col-md-6">
                <label for="salaire">Salaire :</label>
                <input type="text" class="form-control" id="salaire" th:field="*{salaire}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="datedebut">Date de début :</label>
                <input type="date" class="form-control" id="datedebut" th:field="*{datedebut}" required>
            </div>
            <div class="form-group col-md-6">
                <label for="datefin">Date de fin :</label>
                <input type="date" class="form-control" id="datefin" th:field="*{datefin}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description :</label>
            <textarea class="form-control" id="description" th:field="*{description}" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Mettre à jour</button>
    </form>
</div>
</body>
</html>
